@font-face {
font-family:OpenSans-ExtraBold;
src:url(../font/OpenSans-ExtraBold9e53.ttf);
}
@font-face {
font-family:Prompt-ExtraBold;
src:url(../font/Prompt-ExtraBold.ttf);
}
@font-face {
font-family:Roboto-Bold;
src:url(../font/Roboto-Bold.ttf);
}
@font-face {
font-family:Roboto-Medium;
src:url(../font/Roboto-Medium.ttf);
}
*{
	font-family: Roboto-Bold;
}
.row,.container,.container-fluid {
    padding: 0;
}
nav{
	background-color: #eeeeee;
}
.menu{
    justify-content: left;
    position: relative;
}
.menu-right > ul > li:last-child{
	position: absolute;
	right: 0;
	top: -2px;
	padding-right:0px;
}
.menu-right > ul > li:last-child form{
	background: #fff;
	padding: 0 10px;
	line-height: 30px;
	height: 30px;
	border-radius: 5px;
}
.menu-right > ul > li:last-child form input{
	border:none;
	outline: none;
	background: none;
	font-size: 14px;
	color: #333;
}
.menu-right > ul > li:last-child form input::placeholder{
	color: #ccc;
	font-size: 14px;
}
.menu-right > ul > li:last-child form button{
	border:none;
	outline: none;
	cursor: pointer;
	background: none;
	color: #999;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
.menu-right > ul > li:last-child form button:hover{
	color: orange;
}
.menu-right > ul > li{
	    display: inline-block;
    padding: 0;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.menu-right > ul > li a{
	text-transform: uppercase;
	font-size: 18px;
}
.logo img{
	max-width: 270px;
}
.logo {
	padding:0;
}
.logo a{
	display: block;
}
.header-logo{
	padding:15px 0 !important;
}
.header-logo > .row > div {
	align-items: center;
	display: flex;
	height: 100px;
}
.header-logo > .row > div >div{
	display: flex;
	align-items: center;
	height: 100%;
	padding:0;
}
.header-logo > .row > div >div div{
	padding:0;
}
.header-logo > .row > div >div div p{
	margin:0;
}
.header-logo .icon_ship{
	text-align: center;
}
.header-logo .icon_ship i {
    padding: 8px;
    color: #db5c1c;
    border-radius: 30%;
    border: 1px solid #db5c1c;
    font-size: 25px;
}
.select-language{
	text-align: right;
    background: #eeeeee;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 3px;
}
.select-language a{
	display: inline-block;
	height: 35px;
	line-height: 35px;
}
.select-language a img{
	width: 35px;
    height: 20px;
    object-fit: cover;
}
.menu-wrap{
	background-image: linear-gradient(to bottom,#a16400, #bf7c10) !important;
    box-shadow: 0px 0px 10px #ccc;
}
.header-logo .menu_left{
	background: none;
}
.img_hover{
    position: relative;
    margin-top: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom,#0000008a,#3c2e16), url(../images/g_hob_a_gas_heaters.jpg) !important;
    padding: 15px 0 20px 0;
    background-size: 100%;
    background-position: center;
    height: 380px;
    border-top: 5px solid #a66906;
}
.img_hover .titleHead{
	padding: 30px 0;
}
.img_hover .titleHead .reset span{
	font-family: OpenSans-ExtraBold
}
#slider .slide .carousel-item{
	height: 680px;
}
#slider .slide .carousel-item img{
	width: 100% !important;
	height: 100% !important;
	object-fit: cover !important;
}
.menu-tier-2 ul{
	background-image: linear-gradient(to bottom,#a16400, #c58a2c) !important;
}
.slide_bottom_banner_product .title_slick a{
	text-align: center;
	font-size: 14px;
	font-family: Roboto-Bold;
	line-height: 35px;
	display: block;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
.slide_bottom_banner_product .img_slick img{
	border-radius: 10px;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
	cursor: pointer;
	height: 200px;
}
.slide_bottom_banner_product .img_slick{
	padding: 10px;
}
.slide_bottom_banner_product .img_slick img:hover{
	box-shadow: 0px 0px 10px #fff;
}
#bepgas .item_product{

}
#bepgas .item_product .item{
	padding: 10px 0;
}
#bepgas .item_product img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#bepgas .hot_product2{
	margin-top: 30px;
}
.silde_video_kanzo_item{

}
#bepgas .cap-main .group__services-text,
#tintuc .cap-main .group__services-text,
#tintuc .cap-main .group__services-text1{
	font-family: OpenSans-ExtraBold;
}
.menu-right > ul > li a,
.cau_hoi_thuong_gap_home h4,
{
	font-family: Roboto-Bold;
	font-size: 16px !important;
	text-transform: uppercase;
	font-weight: bold;
}
.gioi_thieu_home h2{
	font-family: OpenSans-ExtraBold;
	font-size: 20px !important;
	text-transform: uppercase;
	font-weight: bold;
}
.cau_hoi_thuong_gap_home .row{
	background: #f0f0f0;
	margin-bottom: 10px;
	margin:0;
}
.cau_hoi_thuong_gap_home .row >div{
	padding: 0;
}
.cau_hoi_thuong_gap_home .row >div img{
	width: 100%;
	height: 130px;
	object-fit: cover;
}
.cau_hoi_thuong_gap_home_box{
}
.cau_hoi_thuong_gap_home_box a{
	background:#f0f0f0;
	overflow: hidden;
	text-decoration: none;
	display: block;
	-webkit-transition: 0.3s all;
	-o-transition: 0.3s all;
	transition: 0.3s all;
}
.cau_hoi_thuong_gap_home_box a:hover{
	box-shadow: 0px 0px 10px #999;
}
.cau_hoi_thuong_gap_home_box a b{
	font-size: 13px;
	color: #333;
}
.cau_hoi_thuong_gap_home_box a b i{
	margin-right: 10px;
}
.cau_hoi_thuong_gap_home_box a span{
	color: #333;
    /* padding: 10px; */
    font-size: 14px;
    margin:5px 10px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}
.cau_hoi_thuong_gap_home_box a img{
	width: 130px;
    height: 93px;
    margin-right: 10px;
    object-fit: cover;
    float: left;
}
.cau_hoi_thuong_gap_home_box_item{
	margin-bottom: 10px;
}
.btn-detail{
	background: #ad6e06;
	border:none;
	outline: none;
	text-decoration: none;
}
.btn-detail:hover{
	color: #fff;
}
.phonering-alo-phone {
    position: fixed;
    bottom: 150px;
    right: 160px;
    z-index: 999;
}
.bot-1 img{
	    box-shadow: 0px 0px 5px #fff;
}
.bot-2 h3{
	font-size: 20px;
}
.dk-tt{
	font-size: 20px;
}
.ip-tim1{
	width: 100%;
}
.search-bot{
	position: relative;
}
.lien_he_footer p{ 
    font-size: 14px;
    margin-bottom: 5px;
}
.bot-2 ul li a{
	font-size: 16px;
}
.copyright{
	background-color: #a96a04;
}
.copyright p{
	color: #fff;
	line-height: 35px;
}
.ip-tim1{
	border-radius: initial !important;
}
.gioi_thieu_home p{
	font-size: 16px;
	font-family: Roboto-Medium;
	color: #666;
}
@media only screen and (min-width: 3001px) {}
@media only screen and (max-width: 1200px) {
	.header-logo > .row > div >div div p,
	.header-logo > .row > div >div div span {
		font-size: 14px;
	}
}
@media only screen and (max-width: 992px) {
	body > nav > div.container > div > div > div.col-md-8.menu_left > div:nth-child(3){
		display: none;
	}
	body > nav > div.container,
	body > nav > div.menu > div:nth-child(3) > nav > div > div{
		width: 100%;
		max-width: 100%;
	}
	body > nav > div.menu > div:nth-child(3) > nav > div > div{
		padding: 0 15px;
	}
	body > nav > div.menu > div:nth-child(3) > nav > div > div > div > div > ul{
		display: block;
	}
	.menu-right > ul > li a{
		font-size: 15px;
	}
	.menu-right > ul > li{
		padding-right: 10px;
	}
	#slider .slide .carousel-item{
		height: 500px;
	}
}
@media only screen and (max-width: 768px) {
	#bepgas .item_product{
		margin-bottom: 15px;
	}
	#bepgas .hot_product2{
		margin-top: 0;
	}
	#slider .slide .carousel-item{
		height: 400px;
	}
	.silde_video_kanzo_item video{
		height: 300px !important;
	}
	.pl{
		    margin-left: -39px;
    margin-top: 4px;
	}
	.container{
		padding-right: 15px;
		padding-left: 15px;
	}
}
@media only screen and (max-width: 480px) {
	#slider .slide .carousel-item{
		height: 320px;
	}
	body > nav > div.container > div > div > div.col-xs-12.col-sm-12.col-md-8.col-lg-8.menu_left{
		display: none;
	}
	.header-logo > .row > div{
		justify-content: center;
	}
	#tintuc > div,
	body > main > div > section.h-about-wrap.all-wrap.gioi_thieu_home > div > div > div{
		padding-left: 0;
		padding-right:0;
	}
	#bepgas .cap-main .cap_title p{
		padding:0 10px;
	}
	.silde_video_kanzo_item video{
		height: 240px !important;
	}
	.copyright p{
		padding:15px 10px;
		font-size: 13px;
		line-height: 19px;
	}
	#slider .slide .carousel-item{
		height: 260px;
	}
	.popup img{
		height: auto;
	}
}